<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.sys.mapper.ShiroMapper">

    <resultMap id="RES_USER" type="com.someexp.modules.user.domain.entity.User">
        <id column="usr_id" property="id"/>
        <result column="usr_name" property="name"/>
        <result column="usr_password" property="password"/>
        <result column="usr_area_code" property="areaCode"/>
        <result column="usr_phone" property="phone"/>
        <result column="usr_status" property="status"/>
    </resultMap>

    <resultMap id="RES_ADMIN" type="com.someexp.modules.admin.domain.entity.Admin">
        <id column="adm_id" property="id"/>
        <result column="adm_parent" property="parent"/>
        <result column="adm_name" property="name"/>
        <result column="usr_password" property="password"/>
        <result column="usr_area_code" property="areaCode"/>
        <result column="usr_phone" property="phone"/>
        <result column="usr_status" property="status"/>
    </resultMap>
    <select id="getUserById" resultMap="RES_USER">
        select *
        from user
        where usr_id = #{id};
    </select>

    <select id="getAdminById" resultMap="RES_ADMIN">
        select *
        from admin
        where adm_id = #{id};
    </select>
</mapper>