<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.ParkingMapper">
    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.Parking" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into parking
            (uid, name, content, longitude, latitude, status, stateUpdateDate)
        values (#{uid}, #{name}, #{content}, #{longitude}, #{latitude}, 0, #{stateUpdateDate})
    </insert>

    <select id="getByLocation" resultType="com.someexp.modules.user.domain.entity.Parking">
        select id
        from parking
        where longitude = #{longitude}
          and latitude = #{latitude}
        limit 1
    </select>

    <select id="list" resultType="com.someexp.modules.user.domain.vo.ParkingVO">
        SELECT *,
               TRUNCATE(SQRT(
                                    POW(69.1 * (latitude - #{latitude}), 2) +
                                    POW(69.1 * (#{longitude} - longitude) * COS(latitude / 57.3), 2)) * 1.675,
                        2) AS distance
        FROM parking force index (parking_longitude_latitude_uindex)
        where longitude between #{longitude} - #{kilometer} * 0.575 / 69.172 / COS(RADIANS(#{latitude}))
            and #{longitude} + #{kilometer} * 0.575 / 69.172 / COS(RADIANS(#{latitude}))
          and latitude between #{latitude} - #{kilometer} * 0.575 / 69.172
            and #{latitude} + #{kilometer} * 0.575 / 69.172
          and status = 1
        order by distance
    </select>
</mapper>
