<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.ReviewMapper">

    <resultMap id="REVIEW_ENTITY" type="com.someexp.modules.user.domain.entity.Review">
        <id column="rew_id" property="id"/>
        <result column="rew_pid" property="pid"/>
        <result column="rew_uid" property="uid"/>
        <result column="rew_score" property="score"/>
        <result column="rew_content" property="content"/>
        <result column="rew_create_date" property="createdDate"/>
    </resultMap>

    <select id="getByPidAndUid" resultMap="REVIEW_ENTITY">
        SELECT rew_pid
        FROM review
        WHERE rew_pid = #{pid}
        AND rew_uid = #{uid}
    </select>

    <select id="listAll" resultType="com.someexp.modules.user.domain.entity.Review">
        SELECT *
        FROM review
        WHERE rew_pid = #{pid}
        ORDER BY rew_id desc
    </select>

    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.Review" useGeneratedKeys="true"
            keyProperty="id" keyColumn="rew_id">
        insert into review (rew_pid, rew_uid, rew_score, rew_content, rew_create_date)
        values (#{pid}, #{uid}, #{score}, #{content}, now())
    </insert>

</mapper>