<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.ReviewMapper">

    <resultMap id="REVIEW_ENTITY" type="com.someexp.modules.user.domain.entity.Review">
        <id column="rew_id" property="id"/>
        <result column="rew_pid" property="pid"/>
        <result column="rew_uid" property="uid"/>
        <result column="rew_score" property="score"/>
        <result column="rew_content" property="content"/>
        <result column="rew_create_date" property="createdDate"/>
    </resultMap>

    <resultMap id="REVIEW_VO" type="com.someexp.modules.user.domain.vo.ReviewVO">
        <id column="rew_id" property="id"/>
        <result column="rew_pid" property="pid"/>
        <result column="rew_uid" property="uid"/>
        <result column="rew_score" property="score"/>
        <result column="rew_content" property="content"/>
        <result column="rew_create_date" property="createdDate"/>
        <result column="prk_name" property="parkingName"/>
    </resultMap>

    <select id="pageByPid" resultMap="REVIEW_ENTITY">
        SELECT *
        FROM review
        WHERE rew_pid = #{pid}
        ORDER BY rew_id desc
        LIMIT #{offset}, #{rowCount}
    </select>

    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.Review" useGeneratedKeys="true"
            keyProperty="id" keyColumn="rew_id">
        insert into review (rew_pid, rew_uid, rew_score, rew_content, rew_create_date)
        values (#{pid}, #{uid}, #{score}, #{content}, now())
    </insert>

    <select id="checkReviewExists" resultType="java.lang.Boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM review
                       WHERE rew_uid = #{uid}
                         AND rew_pid = #{pid}
                   ) AS result;
    </select>

    <select id="pageByUid" resultMap="REVIEW_VO">
        -- 根据uid分页列出评论 --
        SELECT rew.*, prk.prk_name
        FROM review AS rew FORCE INDEX (review_rew_uid_index)
                 INNER JOIN parking AS prk ON rew.rew_pid = prk.prk_id
        WHERE rew.rew_uid = #{uid}
        ORDER BY rew.rew_id DESC
        LIMIT #{offset}, #{rowCount}
    </select>

</mapper>