<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.TempMapper">

    <resultMap id="TEMP_ENTITY" type="com.someexp.modules.user.domain.entity.Temp">
        <id column="tmp_id" property="id"/>
        <result column="tmp_pid" property="pid"/>
        <result column="tmp_uid" property="uid"/>
        <result column="tmp_state" property="state"/>
        <result column="tmp_useful" property="useful"/>
        <result column="tmp_unuseful" property="unuseful"/>
        <result column="tmp_update_date" property="stateUpdateDate"/>
    </resultMap>

    <resultMap id="TEMP_VO" type="com.someexp.modules.user.domain.vo.TempVO">
        <id column="tmp_id" property="id"/>
        <result column="tmp_pid" property="pid"/>
        <result column="tmp_uid" property="uid"/>
        <result column="tmp_state" property="state"/>
        <result column="tmp_useful" property="useful"/>
        <result column="tmp_unuseful" property="unuseful"/>
        <result column="tmp_update_date" property="stateUpdateDate"/>
        <result column="my_opt" property="myOpt"/>
    </resultMap>

    <select id="checkTempExists30Min" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM temp
            WHERE tmp_uid = #{uid}
            AND tmp_pid = #{pid}
            AND tmp_update_date > date_sub(now(), INTERVAL '0 00:30:00' DAY_SECOND)
            LIMIT 1
            ) AS result;
    </select>

    <select id="checkTempExists" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM temp
            WHERE tmp_id = #{id}
            LIMIT 1
            ) AS result;
    </select>

    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.Temp" useGeneratedKeys="true"
            keyProperty="id" keyColumn="tmp_id">
        INSERT INTO temp
            (tmp_pid, tmp_uid, tmp_state, tmp_useful, tmp_unuseful, tmp_update_date)
        VALUES (#{pid}, #{uid}, #{state}, 0, 0, now())
    </insert>

    <select id="getEntity" resultMap="TEMP_ENTITY">
        SELECT *
        FROM temp
        WHERE tmp_id = #{id}
    </select>

    <select id="list" resultMap="TEMP_VO">
        SELECT tmp.*, coalesce(tu.tu_useful, 0) as my_opt
        FROM tempUser tu
                 RIGHT JOIN (SELECT *
                             FROM temp
                             WHERE tmp_pid = #{pid}
                               AND tmp_update_date > date_sub(now(), INTERVAL '0 00:30:00' DAY_SECOND)
                             ORDER BY tmp_update_date DESC
                             LIMIT 5) tmp
                            ON tu.tu_uid = #{uid} AND tu.tu_tid = tmp.tmp_id
    </select>

    <update id="increaseUseful">
        UPDATE temp
        SET tmp_useful = tmp_useful + 1
        WHERE tmp_id = #{tid};
    </update>

    <update id="increaseUnuseful">
        UPDATE temp
        SET tmp_unuseful = tmp_unuseful + 1
        WHERE tmp_id = #{tid};
    </update>

    <select id="listEntity" resultMap="TEMP_ENTITY">
        -- 统计30分钟内的拥挤度 --
        SELECT *
        FROM temp
        WHERE tmp_pid = #{pid}
          AND tmp_update_date > date_sub(now(), INTERVAL '0 00:30:00' DAY_SECOND)
    </select>

</mapper>