<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.TempMapper">

    <resultMap id="TEMP_ENTITY" type="com.someexp.modules.user.domain.entity.Temp">
        <id column="temp_id" property="id"/>
        <result column="temp_pid" property="pid"/>
        <result column="temp_uid" property="uid"/>
        <result column="temp_state" property="state"/>
        <result column="temp_useful" property="useful"/>
        <result column="temp_unuseful" property="unuseful"/>
        <result column="temp_update_date" property="stateUpdateDate"/>
        <result column="temp_content" property="content"/>
    </resultMap>

    <resultMap id="TEMP_VO" type="com.someexp.modules.user.domain.vo.TempVO">
        <id column="temp_id" property="id"/>
        <result column="temp_pid" property="pid"/>
        <result column="temp_uid" property="uid"/>
        <result column="temp_state" property="state"/>
        <result column="temp_useful" property="useful"/>
        <result column="temp_unuseful" property="unuseful"/>
        <result column="temp_update_date" property="stateUpdateDate"/>
        <result column="temp_content" property="content"/>
        <result column="my_opt" property="myOpt"/>
        <result column="prk_name" property="parkingName"/>
    </resultMap>

    <select id="checkTempExists10Min" resultType="java.lang.Boolean">
        -- 检查 10 分钟内用户是否提交过停车位状态信息 --
        SELECT EXISTS(
                       SELECT 1
                       FROM temp
                       WHERE temp_uid = #{uid}
                         AND temp_pid = #{pid}
                         AND temp_update_date > date_sub(now(), INTERVAL '0 00:10:00' DAY_SECOND)
                   ) AS result;
    </select>

    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.Temp" useGeneratedKeys="true"
            keyProperty="id" keyColumn="temp_id">
        -- 新增状态信息 --
        INSERT INTO temp
        (temp_pid, temp_uid, temp_state, temp_useful, temp_unuseful, temp_update_date, temp_content, temp_status)
        VALUES (#{pid}, #{uid}, #{state}, 0, 0, now(), #{content}, 0)
    </insert>

    <select id="list" resultMap="TEMP_VO">
        -- 列出停车场最近 10 分钟的状态信息, 以及用户的投票 --
        SELECT tmp.*, coalesce(v.voting_useful, 0) as my_opt
        FROM voting v
                 RIGHT JOIN (SELECT *
                             FROM temp
                             WHERE temp_pid = #{pid}
                               AND temp_update_date > date_sub(now(), INTERVAL '0 00:10:00' DAY_SECOND)
                             ORDER BY temp_update_date DESC
                             LIMIT 5) tmp
                            ON v.voting_uid = #{uid} AND v.voting_tid = tmp.temp_id
    </select>

    <select id="listEntity" resultMap="TEMP_ENTITY">
        -- 列出10分钟内的状态信息 --
        SELECT *
        FROM temp
        WHERE temp_pid = #{pid}
          AND temp_update_date > date_sub(now(), INTERVAL '0 00:10:00' DAY_SECOND)
    </select>

    <select id="pageByUid" resultMap="TEMP_VO">
        -- 分页列出用户提交的状态信息 --
        SELECT tt.*, tp.parking_name
        FROM temp AS tt
                 INNER JOIN parking AS tp ON tt.temp_pid = parking_id
        WHERE tt.temp_uid = #{uid}
        ORDER BY tt.temp_update_date DESC
        LIMIT #{offset}, #{rowCount}
    </select>

    <select id="getEntity" resultMap="TEMP_ENTITY">
        -- 获取状态信息 --
        SELECT *
        FROM temp
        WHERE temp_id = #{id}
          AND temp_status = #{status}
    </select>

    <update id="increaseUseful">
        -- 增加状态信息的有价值数量 --
        UPDATE temp
        SET temp_useful = temp_useful + 1
        WHERE temp_id = #{tid};
    </update>

    <update id="increaseUnUseful">
        -- 增加状态信息的无价值数量 --
        UPDATE temp
        SET temp_unuseful = temp_unuseful + 1
        WHERE temp_id = #{tid};
    </update>

    <select id="checkByIdAndStatus" resultType="java.lang.Boolean">
        -- 检查状态信息 --
        SELECT EXISTS(
                       SELECT 1
                       FROM temp
                       WHERE temp_id = #{id}
                         AND temp_status = #{status}
                   ) AS result;
    </select>

</mapper>