<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.TempUserMapper">

    <resultMap id="TEMP_USER_ENTITY" type="com.someexp.modules.user.domain.entity.TempUser">
        <id column="tu_id" property="id"/>
        <result column="tu_uid" property="uid"/>
        <result column="tu_tid" property="tid"/>
        <result column="tu_useful" property="useful"/>
        <result column="tu_create_date" property="createDate"/>
    </resultMap>

    <select id="getEntity" resultMap="TEMP_USER_ENTITY">
        SELECT *
        FROM tempUser
        WHERE tu_uid = #{uid}
          AND tu_tid = #{tid}
    </select>

    <select id="checkTempUserExists" resultType="java.lang.Boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM tempUser
                       WHERE tu_uid = #{uid}
                         AND tu_tid = #{tid}
                   ) AS result;
    </select>

    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.TempUser" useGeneratedKeys="true"
            keyProperty="id" keyColumn="tu_id">
        INSERT INTO tempUser
            (tu_uid, tu_tid, tu_useful, tu_create_date)
        VALUES (#{uid}, #{tid}, #{useful}, now())
    </insert>

</mapper>