<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.UserMapper">

    <resultMap id="USER_ENTITY" type="com.someexp.modules.user.domain.entity.User">
        <id column="usr_id" property="id"/>
        <result column="usr_name" property="name"/>
        <result column="usr_password" property="password"/>
        <result column="usr_area_code" property="areaCode"/>
        <result column="usr_phone" property="phone"/>
        <result column="usr_status" property="status"/>
    </resultMap>

    <resultMap id="USER_VO" type="com.someexp.modules.user.domain.vo.UserVO">
        <id column="usr_id" property="id"/>
        <result column="usr_name" property="name"/>
        <result column="usr_area_code" property="areaCode"/>
        <result column="usr_phone" property="phone"/>
        <result column="usr_status" property="status"/>
    </resultMap>

    <select id="checkUserExists" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM user
            WHERE usr_area_code = #{areaCode}
            AND usr_phone = #{phone}
            LIMIT 1
            ) AS result;
    </select>

    <select id="getEntityByPhone" resultMap="USER_ENTITY">
        SELECT *
        FROM user
        WHERE usr_area_code = #{areaCode}
        AND usr_phone = #{phone};
    </select>

    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.User" useGeneratedKeys="true"
            keyProperty="id" keyColumn="usr_id">
        INSERT INTO user
            (usr_name, usr_password, usr_area_code, usr_phone, usr_status)
        VALUES (#{name}, #{password}, #{areaCode}, #{phone}, 1);
    </insert>

    <select id="getById" resultMap="USER_VO">
        SELECT *
        FROM user
        WHERE usr_id = #{uid}
    </select>

</mapper>