<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.user.mapper.UserMapper">

    <resultMap id="USER_ENTITY" type="com.someexp.modules.user.domain.entity.User">
        <id column="user_id" property="id"/>
        <result column="user_name" property="name"/>
        <result column="user_password" property="password"/>
        <result column="user_area_code" property="areaCode"/>
        <result column="user_phone" property="phone"/>
        <result column="user_status" property="status"/>
    </resultMap>

    <select id="checkByAreaCodeAndPhone" resultType="java.lang.Boolean">
        -- 检查用户是否存在 --
        SELECT EXISTS(
                       SELECT 1
                       FROM user
                       WHERE user_area_code = #{areaCode}
                         AND user_phone = #{phone}
                   ) AS result;
    </select>

    <insert id="save" parameterType="com.someexp.modules.user.domain.entity.User" useGeneratedKeys="true"
            keyProperty="id" keyColumn="user_id">
        -- 新增用户 --
        INSERT INTO user
            (user_name, user_password, user_area_code, user_phone, user_status)
        VALUES (#{name}, #{password}, #{areaCode}, #{phone}, 1);
    </insert>

    <select id="getEntityByPhone" resultMap="USER_ENTITY">
        -- 获取用户信息 --
        SELECT *
        FROM user
        WHERE user_area_code = #{areaCode}
          AND user_phone = #{phone};
    </select>

    <select id="getEntityById" resultMap="USER_ENTITY">
        -- 获取用户信息 --
        SELECT *
        FROM user
        WHERE user_id = #{uid}
    </select>

</mapper>