<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.admin.mapper.AdminFeedbackMapper">

    <resultMap id="FEEDBACK_ENTITY" type="com.someexp.modules.admin.domain.entity.Feedback">
        <id column="feedback_id" property="id"/>
        <result column="feedback_pid" property="pid"/>
        <result column="feedback_uid" property="uid"/>
        <result column="feedback_create_date" property="createdDate"/>
        <result column="feedback_content" property="content"/>
        <result column="feedback_status" property="status"/>
        <result column="feedback_contact" property="contact"/>
    </resultMap>

    <select id="listByPage" resultMap="FEEDBACK_ENTITY">
        -- 管理员分页列出反馈 --
        SELECT *
        FROM feedback
        WHERE feedback_status = #{status}
        ORDER BY feedback_id
        LIMIT #{offset}, #{rowCount}
    </select>

    <select id="countByPage" resultType="int">
        -- 管理员分页统计反馈总数 --
        SELECT COUNT(*)
        FROM feedback
        WHERE feedback_status = #{status}
    </select>

    <select id="get" resultMap="FEEDBACK_ENTITY">
        -- 管理员获取反馈信息 --
        SELECT *
        FROM feedback
        WHERE feedback_id = #{id}
    </select>

    <update id="update" parameterType="com.someexp.modules.admin.domain.entity.Feedback">
        -- 管理员更新反馈信息 --
        UPDATE feedback
        <set>
            <if test="status != null">
                feedback_status = #{status}
            </if>
        </set>
        WHERE feedback_id = #{id}
    </update>

</mapper>