<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.admin.mapper.AdminParkingMapper">

    <resultMap id="PARKING_ENTITY" type="com.someexp.modules.admin.domain.entity.Parking">
        <id column="parking_id" property="id"/>
        <result column="parking_uid" property="uid"/>
        <result column="parking_name" property="name"/>
        <result column="parking_content" property="content"/>
        <result column="parking_longitude" property="longitude"/>
        <result column="parking_latitude" property="latitude"/>
        <result column="parking_geohash" property="geohash"/>
        <result column="parking_status" property="status"/>
        <result column="parking_update_date" property="stateUpdateDate"/>
        <result column="parking_t0" property="t0"/>
        <result column="parking_t1" property="t1"/>
        <result column="parking_t2" property="t2"/>
        <result column="parking_t3" property="t3"/>
        <result column="parking_t4" property="t4"/>
        <result column="parking_t5" property="t5"/>
        <result column="parking_t6" property="t6"/>
        <result column="parking_t7" property="t7"/>
        <result column="parking_t8" property="t8"/>
        <result column="parking_t9" property="t9"/>
        <result column="parking_t10" property="t10"/>
        <result column="parking_t11" property="t11"/>
        <result column="parking_t12" property="t12"/>
        <result column="parking_t13" property="t13"/>
        <result column="parking_t14" property="t14"/>
        <result column="parking_t15" property="t15"/>
        <result column="parking_t16" property="t16"/>
        <result column="parking_t19" property="t19"/>
        <result column="parking_t18" property="t18"/>
        <result column="parking_t17" property="t17"/>
        <result column="parking_t20" property="t20"/>
        <result column="parking_t21" property="t21"/>
        <result column="parking_t22" property="t22"/>
        <result column="parking_t23" property="t23"/>
        <result column="parking_capacity" property="capacity"/>
    </resultMap>

    <select id="listByPage" resultMap="PARKING_ENTITY">
        -- 管理员分页列出停车场 --
        SELECT * FROM parking
        <where>
            parking_status = #{status}
            <if test="name != null and name != ''">
                AND parking_name LIKE concat(#{name}, '%')
            </if>
        </where>
        ORDER BY parking_id
        LIMIT #{offset}, #{rowCount}
    </select>

    <select id="countByPage" resultType="int">
        -- 管理员分页统计停车场总数 --
        SELECT COUNT(*) FROM parking
        <where>
            parking_status = #{status}
            <if test="name != null and name != ''">
                AND parking_name LIKE concat(#{name}, '%')
            </if>
        </where>
    </select>

    <select id="get" resultMap="PARKING_ENTITY">
        -- 管理员获取停车场信息 --
        SELECT *
        FROM parking
        WHERE parking_id = #{id}
    </select>

    <update id="update" parameterType="com.someexp.modules.admin.domain.entity.Parking">
        -- 管理员更新停车场信息 --
        UPDATE parking
        <set>
            parking_update_date = now(),
            <if test="name != null and name != ''">
                parking_name = #{name},
            </if>
            <if test="content != null and content != ''">
                parking_content = #{content},
            </if>
            <if test="status != null and status != ''">
                parking_status = #{status},
            </if>
            <if test="longitude != null and longitude != ''">
                parking_longitude = #{longitude},
            </if>
            <if test="latitude != null and latitude != ''">
                parking_latitude = #{latitude},
            </if>
            <if test="capacity != null and capacity != ''">
                parking_capacity = #{capacity},
            </if>
        </set>
        WHERE parking_id = #{id}
    </update>

</mapper>