<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.admin.mapper.AdminMapper">

    <resultMap id="ADMIN_ENTITY" type="com.someexp.modules.admin.domain.entity.Admin">
        <id column="admin_id" property="id"/>
        <result column="admin_parent" property="parent"/>
        <result column="admin_name" property="name"/>
        <result column="admin_password" property="password"/>
        <result column="admin_phone" property="phone"/>
        <result column="admin_status" property="status"/>
    </resultMap>

    <resultMap id="STATUS_COUNT" type="com.someexp.modules.admin.domain.mapper.StatusCount">
        <result column="status" property="status"/>
        <result column="sum" property="sum"/>
    </resultMap>

    <select id="getByPhone" resultMap="ADMIN_ENTITY">
        -- 管理员获取管理员信息 --
        SELECT *
        FROM admin
        WHERE admin_phone = #{phone}
    </select>

    <select id="countParkingByStatus" resultMap="STATUS_COUNT">
        -- 管理员统计停车场数量 --
        SELECT parking_status AS status, count(*) AS sum
        FROM parking
        GROUP BY parking_status
    </select>

    <select id="countFeedbackByStatus" resultMap="STATUS_COUNT">
        -- 管理员统计反馈数量 --
        SELECT feedback_status AS status, count(*) AS sum
        FROM feedback
        GROUP BY feedback_status
    </select>

</mapper>