<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.admin.mapper.AdminMapper">

    <resultMap id="RES_ADMIN" type="com.someexp.modules.admin.domain.entity.Admin">
        <id column="adm_id" property="id"/>
        <result column="adm_parent" property="parent"/>
        <result column="adm_name" property="name"/>
        <result column="usr_password" property="password"/>
        <result column="usr_area_code" property="areaCode"/>
        <result column="usr_phone" property="phone"/>
        <result column="usr_status" property="status"/>
    </resultMap>

    <!--todo-->
    <select id="findByPhone" resultType="com.someexp.modules.user.domain.entity.User">
        select *
        from user
        where phone = #{phone}
          and role = 'admin';
    </select>

    <select id="countByStatus" resultType="java.lang.Long">
        select count(*)
        from parking
        where status = #{status};
    </select>

    <select id="countAll" resultType="java.lang.Long">
        select count(*)
        from parking;
    </select>

</mapper>