<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.admin.mapper.AdminFeedbackMapper">

    <resultMap id="FEEDBACK_ENTITY" type="com.someexp.modules.admin.domain.entity.Feedback">
        <id column="fbk_id" property="id"/>
        <result column="fbk_pid" property="pid"/>
        <result column="fbk_uid" property="uid"/>
        <result column="fbk_create_date" property="createdDate"/>
        <result column="fbk_content" property="content"/>
        <result column="fbk_status" property="status"/>
        <result column="fbk_contact" property="contact"/>
    </resultMap>

    <select id="listByPage" resultMap="FEEDBACK_ENTITY">
        SELECT *
        FROM feedback
        WHERE fbk_status = #{status}
        ORDER BY fbk_id
        LIMIT #{offset}, #{rowCount}
    </select>

    <select id="countByPage" resultType="int">
        SELECT COUNT(*)
        FROM feedback
        WHERE fbk_status = #{status}
    </select>

    <select id="get" resultMap="FEEDBACK_ENTITY">
        SELECT *
        FROM feedback
        WHERE fbk_id = #{id}
    </select>

    <update id="update" parameterType="com.someexp.modules.admin.domain.entity.Feedback">
        UPDATE feedback
        <set>
            <if test="status != null">
                fbk_status = #{status}
            </if>
        </set>
        WHERE fbk_id = #{id}
    </update>

</mapper>