<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.admin.mapper.AdminParkingMapper">

    <select id="listAll" resultType="com.someexp.modules.admin.domain.entity.Parking">
        select *
        from parking
        <where>
            <if test="name != null and name != ''">
                and name like concat(concat('%', #{name}), '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by id desc
    </select>

    <select id="get" resultType="com.someexp.modules.admin.domain.entity.Parking">
        select *
        from parking
        where id = #{id}
    </select>

    <update id="update" parameterType="com.someexp.modules.admin.domain.entity.Parking">
        update parking
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="longitude != null and longitude != ''">
                longitude = #{longitude},
            </if>
            <if test="latitude != null and latitude != ''">
                latitude = #{latitude},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>