<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.someexp.modules.admin.mapper.AdminParkingMapper">

    <resultMap id="PARKING_ENTITY" type="com.someexp.modules.admin.domain.entity.Parking">
        <id column="prk_id" property="id"/>
        <result column="prk_uid" property="uid"/>
        <result column="prk_name" property="name"/>
        <result column="prk_content" property="content"/>
        <result column="prk_longitude" property="longitude"/>
        <result column="prk_latitude" property="latitude"/>
        <result column="prk_geohash" property="geohash"/>
        <result column="prk_status" property="status"/>
        <result column="prk_update_date" property="stateUpdateDate"/>
        <result column="prk_t0" property="t0"/>
        <result column="prk_t1" property="t1"/>
        <result column="prk_t2" property="t2"/>
        <result column="prk_t3" property="t3"/>
        <result column="prk_t4" property="t4"/>
        <result column="prk_t5" property="t5"/>
        <result column="prk_t6" property="t6"/>
        <result column="prk_t7" property="t7"/>
        <result column="prk_t8" property="t8"/>
        <result column="prk_t9" property="t9"/>
        <result column="prk_t10" property="t10"/>
        <result column="prk_t11" property="t11"/>
        <result column="prk_t12" property="t12"/>
        <result column="prk_t13" property="t13"/>
        <result column="prk_t14" property="t14"/>
        <result column="prk_t15" property="t15"/>
        <result column="prk_t16" property="t16"/>
        <result column="prk_t19" property="t19"/>
        <result column="prk_t18" property="t18"/>
        <result column="prk_t17" property="t17"/>
        <result column="prk_t20" property="t20"/>
        <result column="prk_t21" property="t21"/>
        <result column="prk_t22" property="t22"/>
        <result column="prk_t23" property="t23"/>
        <result column="prk_capacity" property="capacity"/>
    </resultMap>

    <select id="listByPage" resultMap="PARKING_ENTITY">
        SELECT * FROM parking
        <where>
            prk_status = #{status}
            <if test="name != null and name != ''">
                AND prk_name LIKE concat(#{name}, '%')
            </if>
        </where>
        ORDER BY prk_id
        LIMIT #{offset}, #{rowCount}
    </select>

    <select id="countByPage" resultType="int">
        SELECT COUNT(*) FROM parking
        <where>
            prk_status = #{status}
            <if test="name != null and name != ''">
                AND prk_name LIKE concat(#{name}, '%')
            </if>
        </where>
    </select>

    <select id="get" resultMap="PARKING_ENTITY">
        SELECT *
        FROM parking
        WHERE prk_id = #{id}
    </select>

    <update id="update" parameterType="com.someexp.modules.admin.domain.entity.Parking">
        UPDATE parking
        <set>
            prk_update_date = now(),
            <if test="name != null and name != ''">
                prk_name = #{name},
            </if>
            <if test="content != null and content != ''">
                prk_content = #{content},
            </if>
            <if test="status != null">
                prk_status = #{status},
            </if>
            <if test="longitude != null and longitude != ''">
                prk_longitude = #{longitude},
            </if>
            <if test="latitude != null and latitude != ''">
                prk_latitude = #{latitude},
            </if>
            <if test="capacity != null">
                prk_capacity = #{capacity},
            </if>
        </set>
        WHERE prk_id = #{id}
    </update>

</mapper>